APP_NAME="E-Voting Desa"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=sqlite

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database

# Blockchain config
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_CHAIN_ID=31337
CONTRACT_ADDRESS=
ADMIN_WALLET_ADDRESS=
ADMIN_PRIVATE_KEY=

SIGNER_URL=http://localhost:3001
INTERNAL_SECRET=

# supabasepswd=2Cpmi8F!cK8Qbyz
# postgresql://postgres:2Cpmi8F!cK8Qbyz@db.iwsmwtutyoeneidnapfv.supabase.co:5432/postgres